// tny 
@import url("../../../../assets/template/css/bootstrap.css");
@import url("../../../../assets/template/css/app.css");
@import url("../../../../assets/template/css/custom.css");

.custom-emai{
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #2A2A86;
    border-color: #2A2A86;
}

// otp
.container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
    margin-bottom: 40px;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  .header h1 {
    color: #FF6600;
    margin: 10px 0;
  }
  
  .header h2 {
    color: #000;
    margin: 10px 0;
  }
  
  .otp-section {
    background-color: #f7f7f7;
  }
  
  .otp-section h3 {
    color: #000;
    margin-bottom: 20px;
  }
  
  .otp-section p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .email {
    font-weight: bold;
  }
  
  .otp-inputs {
    display: flex;
    justify-content: center;
  }
  
  .otp-input {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .otp-input:focus {
    border-color: #2A2A86; 
    box-shadow: 0 0 0 0.2rem rgba(2, 2, 31, 0.25); 
    outline: none; 
}

  
  .verify-button {
    background-color: #FF6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .verify-button:hover {
    background-color: #e55d00;
  }
  
  .resend {
    margin-top: 20px;
    color: #666;
  }
  
  .resend-link {
    color: #FF6600;
    cursor: pointer;
  }
  
  .footer {
    margin-top: 40px;
    color: #666;
  }
   