.time-input{
    height: 40px;
    border-radius:4px;
    border:none;
    border: 3px solid #ccc;
    padding: 0 10px;
    outline: none;
    width: 15%;
}

.time-input-2{
    height: 40px;
    border-radius:4px;
    border:none;
    border: 3px solid #ccc;
    padding: 0 10px;
    outline: none;
    width: 20%;
}

.time-input-3{
    height: 40px;
    border-radius:4px;
    border:none;
    border: 3px solid #ccc;
    padding: 0 10px;
    outline: none;
    width: 38%;
}