.sidebar-item {
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
}

.sidebar-list {
    background: #ccc;
    margin-bottom: 1rem;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    width: fit-content;
    padding: 5px;
}
.common {
    background: #fff;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    padding: 1rem;
}

.sidebar-item.active {
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 5px;
}
p {
    font-weight: 600;
}
