<div class="container-fluid p-0">
    <div class="row g-0 m-0">
        <div class="col-lg-4 p-0 ">
            <div class="authentication-page-content p-4 d-flex align-items-center ">
                <div class="w-100">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <div>
                                <div class="text-center">
                                    <div>
                                        <a [routerLink]="Page.SetPassword" class="logo"><img
                                                src="assets/about-me/logo_1.png" height="80" alt="logo"></a>
                                    </div>

                                    <h4 class="font-size-18 mt-4">Thiết lập mật khẩu đăng nhập</h4>
                                    <p class="text-muted">Thiết lập mật khẩu đến SMO media cho lần đầu đăng nhập</p>
                                </div>
                                <div class="p-2 mt-5">
                                    <div class="alert alert-success mb-4 d-flex justify-content-center align-items-center"
                                        role="alert">
                                        Nhập mật khẩu mới cho tài khoản của bạn!
                                    </div>
                                    <form [formGroup]="setPasswordForm" (submit)="handleSetPassword()">
                                        <div class="form-group auth-form-group-custom mb-4">
                                            <i class="pi pi-envelope auti-custom-input-icon"></i>
                                            <label for="email">Email</label>
                                            <input formControlName="email" name="email" type="text"
                                                class="form-control custom-emai" id="email" placeholder="Nhập email" readonly>
                                            <app-validation-message [form]="setPasswordForm"
                                                [messages]="validationMessages" field="email"></app-validation-message>
                                        </div>
                                        <div class="form-group auth-form-group-custom mb-4">
                                            <i class="pi pi-key auti-custom-input-icon" ></i>
                                            <label for="password">Mật khẩu</label>
                                            <input formControlName="newPassword" name="password" type="password"
                                                class="form-control" id="password" placeholder="Nhập mật khẩu">
                                            <app-validation-message [form]="setPasswordForm"
                                                [messages]="validationMessages"
                                                field="newPassword"></app-validation-message>
                                        </div>
                                        <div class="form-group auth-form-group-custom mb-4">
                                            <i class="pi pi-key auti-custom-input-icon" ></i>
                                            <label for="repeatPassword">Mật khẩu nhập lại</label>
                                            <input formControlName="repeatPassword" name="password" type="password"
                                                class="form-control" id="repeatPassword" placeholder="Nhập mật lại khẩu">
                                            <app-validation-message [form]="setPasswordForm"
                                                [messages]="validationMessages"
                                                field="repeatPassword"></app-validation-message>
                                        </div>

                                        <div class="mt-4 text-center">
                                            <button class="btn btn-primary w-md waves-effect waves-light"
                                                type="submit">Xác nhận</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="mt-5 text-center">
                                    <p>Đã có tài khoản ? <a routerLink="/auth/login"
                                            class="fw-medium text-primary"> Đăng nhập </a> </p>
                                    <p class="mb-0">©
                                        <script>document.write(new Date().getFullYear())</script> Bản quyền thuộc về SMO
                                        media <i class="pi pi-heart-fill text-danger"></i>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 d-none d-md-block">
            <div class="authentication-bg d-flex">
                <div class="d-flex align-items-center">
                    <!-- <img src="assets//template/images/comingsoon-bg.jpg" class="fluid-img w-100 h-100" alt=""> -->
                    <img src="assets/about-me/background_2000_1333.png" class="fluid-img w-100 h-100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast/>