// * {
//   font-family: "Times New Roman", Times, serif;
// }

#contract-content {
  width: 250mm;
  margin: 20px auto;
}

.contract {
  font-family: 'Roboto', sans-serif;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  line-height: 1.8;
}

.header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.sub-header {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contract-container {
  font-family: "Times New Roman", Times, serif;
}

.contract-number {
  text-align: center;
  margin: 55px 20px;
}

.title {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.section {
  // text-indent: 50px;
  font-size: 1.2rem;
  line-height: 30px;
}

.intro {
  font-style: italic;
  font-size: 1.2rem;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.custom-table th, .custom-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table td {
  vertical-align: middle;
}

.summary-row td {
  border: 1px solid #000;
  font-weight: bold;
}

.total-row td {
  font-weight: bold;
}

.status-red {
  color: red;
}

.status-red {
  padding: 5px 15px;
  background-color: #fcecec;
  border-radius: 8px;
  font-size: 14px;
}

.status-green {
  color: green;
  padding: 5px 15px;
  background-color: #eaf9e6;
  border-radius: 8px;
  font-size: 14px;
}

.icon-tool {
  padding: 8px;
  border-radius: 5px;
  background-color: #ebe9e9;
  transition: all 0.2s;
}

.icon-tool:hover {
  background-color: #dddcdc;
}

::ng-deep .p-treeselect {
  width: 100%;
}

::ng-deep .ui-autocomplete-panel {
  width: 500px !important;
  max-height: 200px;
  overflow-y: auto;
}

.disabled-class {
  pointer-events: none;
  opacity: 0.6;
}

.labelip {
  margin-top: 10px;
}

.notification-settings {
  max-width: 300px;
  margin:20px 16px;
}

.notification-settings h3 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

p-checkbox {
  display: block;
  margin-bottom: 8px;
  margin-top: 10px;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.switch-container label {
  margin-right: 8px;
  font-size: 14px;
}




