.custom-select,
.custom-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.span-input {
    display: block;
}

//member
.member-list {
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.member-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-family: Arial, sans-serif;
    color: #333;
}

.member-item:last-child {
    border-bottom: none;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.member-name,
.member-email,
.member-role {
    margin-bottom: 5px;
}

.edit-button,
.remove-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0 5px;
}

.remove-button {
    color: red;
}

.icon-i {
    font-size: 1.3rem;
    color: #6b7280;
}

.scrollable-table-container {
    max-height: 400px;
    overflow-y: auto;
    width: 100%; 
    scrollbar-width: none;
    -ms-overflow-style: none;  
}

.scrollable-table-container::-webkit-scrollbar { 
    display: none; 
}


.p-datatable .p-datatable-tbody {
    margin-bottom: 40px;
}
.custom-scrollbar .p-datatable-tbody tr:last-child {
    height: 100px;
    background-color: #ffffff; 
}

.p-datatable .p-datatable-tbody > tr:last-child:after {
    content: '';
    display: block;
    height: 100px;  
    width: 100%;   
}
