/* Tùy chỉnh cho phần lọc */
.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-container button {
    background-color: #2A2A86;
    /* Màu nền nút */
    color: #fff;
    /* Màu chữ */
    border: none;
    padding: 10px 14px;
    /* Kích thước nút */
    border-radius: 4px;
    /* Bo góc */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.filter-container button:hover {
    background-color: #2A2A86;
    /* Màu nền khi hover */
}

.filter-container span {
    display: inline-block;
    padding: 10px 12px;
    /* Tương tự input */
    border: 1px solid #ccc;
    /* Viền giống input */
    border-radius: 4px;
    /* Bo góc */
    background-color: #f9f9f9;
    /* Màu nền */
    font-size: 14px;
    text-align: center;
    min-width: 150px;
    /* Đảm bảo chiều rộng tối thiểu */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    /* Đổ bóng nhẹ bên trong */
}

::ng-deep .p-treeselect {
    width: 100%;
}

.card {
    border-radius: 5px;
    border: none !important;
    padding: 0 !important;
}

.work-status-span {
    width: 120px;
    display: inline-block;
    padding: 3px 20px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.status-span {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}