// tny 
// @import url("./assets/template/css/bootstrap.css");
// @import url("./assets/template/css/app.css");
// @import url("./assets/template/css/custom.css");

// @import url("./css/bootstrap.css");
// @import url("./css/app.css");
// @import url("./css/custom.css");

// @import url("src/assets/template/css/app.css");
// @import url("src/assets/template/css/app.css");
// @import url("src/assets/template/css/custom.css");

// @import url("./css/bootstrap.css");

//tny
.danger-notice {
    color: red;
    font-size: 12px !important;
}

.danger-notice>div {
    margin-top: 6px;
}