.icon-succ{
    font-size: 22px;
}
.title-create{
    color: #4a94f3;
}
.iamge-user{
    position: relative;
}
.icon-status{
    position: absolute;
    bottom: -2px;
    right: 0px;
    z-index: 2;
}
.list-ckeck {
    max-height: 300px;
    overflow-y: auto;
 }
 .item-list-check{
    margin-bottom: 10px;
 }
 .margin-b {
    margin-bottom: 10px;
 }
 