/* tny add */
.font-size-16 {
    font-size: 1.5rem;
}
.status-span {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}

.text-warning {
    color: orange;
}

.p-input-icon-left .p-inputtext {
    width: 100%;
}

.text-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.p-grid {
    margin-bottom: 20px;
}

.icon-settings {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: auto 0px auto 5px;
    margin-left: auto !important;
    background-color: #ffffff;
}

.custom-checkbox-list li {
    list-style-type: none;
    padding: 8px 0;
}

.custom-checkbox-list .p-checkbox {
    margin: 0;
}

.button-right {
    margin-left: 100px;
}

.card-custom {
    background: #fff;
    margin-bottom: 2rem;
    border: none;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    padding: 1rem;
    max-height: 78vh;
}

.custom-cancle-red {
    background-color: #aa0000;
    border-color: #aa0000;
}

// content
.dashboard-container {
    display: flex;
    padding: 10px;
    width: 100%;
    max-height: 20vh;
}
.time-custom {
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #ff5656;
}
.action-container {
    margin-left: auto;
}

.dashboard-stat {
    // flex: 1;
    margin: 0 10px;
    border: 2px solid #a1b5f2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stat-value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4d4d4e;
}

.stat-label {
    margin-bottom: 10px;
}

.stat-icon i {
    font-size: 24px;
}

.red-color {
    color: #ff5656 !important;
}

.calendar-container {
    display: flex;
    flex-direction: column;
}

.week-header {
    background-color: #eff1f6;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    background-color: #eff1f6;
    border: 1px solid #eff1f6;
    overflow-y: auto;
}
.show-full {
    max-height: 70vh;
}

.show-not-full {
    max-height: 56vh;
}
.calendar::-webkit-scrollbar {
    display: none;
}

.calendar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.week-day {
    font-size: 16px;
    color: #4d4d4e;
    padding: 10px 0;
    font-weight: bold;
}
.cutsom-cancel {
    background-color: #64748b;
    border-color: #64748b;
}
.day {
    background-color: #f6f7fa;
    padding: 10px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    min-height: 180px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 3px;
    height: 180px;

    //scroll
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.day::-webkit-scrollbar {
    display: none;
}

.day:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.date {
    font-size: 14px;
    color: #666;
    // position: absolute;
    top: 5px;
    right: 5px;
}

.status {
    text-align: center;
    font-weight: bold;
}

.work {
    color: green;
}

.off {
    color: red;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: block;
    margin: 5px auto;
}

//date status
.day-status {
    // display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}

.status-dot-green {
    height: 10px;
    width: 10px;
    background-color: #4caf50;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    flex: none;

}
.status-dot-red {
    height: 10px;
    width: 10px;
    background-color: #ff5656;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    flex: none;

}
.status-dot-yellow {
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    flex: none;
}

.status-text {
    margin-right: 10px;
    font-weight: 500;
}
.font-17 {
    font-size: 2rem;
}
.time-frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time {
    margin-right: 5px;
}

.icon i {
    color: #333;
}
.custom-i {
    color: #4d4d4e !important;
}
