<!-- hiển thị giao diện thêm phê duyệt -->
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '40rem' }">
    <ng-template pTemplate="header">
        <div
            class="inline-flex align-items-center justify-content-center gap-2"
        >
            <p-avatar
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                shape="circle"
            />
            <h4 class="font-bold white-space-nowrap">Phê duyệt</h4>
        </div>
    </ng-template>
    <div class="py-4">
        <span class="title-create cursor-pointer" (click)="openDialogCreate()">
            <i class="pi pi-plus"></i>
            Tạo phê duyệt
        </span>
        <!-- danh sách phê duyệt -->
        <div class="list-ckeck">
            <div
                class="d-flex gap-4 align-items-center item-list-check"
                *ngFor="let item of listApproval"
            >
                <div class="icon-approve">
                    <i
                        *ngIf="item.isApprove"
                        class="pi pi-check"
                        style="color: green"
                    ></i>
                    <i
                        *ngIf="!item.isApprove"
                        class="pi pi-question-circle"
                    ></i>
                </div>
                <div class="">
                    <!-- <span>Chờ phê duyệt</span> -->
                    <span [style.color]="item.isApprove ? 'green' : 'red'">
                        {{ item.isApprove ? "Đã phê duyệt" : "Chưa phê duyệt" }}
                    </span>
                </div>
                <div class="">
                    <span>{{ item.dates | date : "dd/MM/yyyy HH:mm:ss" }}</span>
                </div>
                <div class="flex gap-2">
                    <div
                        class="iamge-user"
                        *ngFor="let item of item.employeeApproves"
                    >
                        <img
                            [src]="imageUrl + item.avatarUrl"
                            style="width: 50px; height: 50px"
                            alt=""
                        />
                        <div class="">
                            <!-- <i
                                class="bi bi-check-circle-fill icon-status"
                                style="color: green"
                            ></i> -->
                            <!-- <i class="bi bi-x-circle-fill icon-status" style="color: red;"></i> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<!-- tạo phê duyệt mới -->
<p-dialog
    [(visible)]="openCreate"
    [modal]="true"
    [style]="{ width: '25rem' }"
    [draggable]="false"
>
    <ng-template pTemplate="header">
        <div
            class="inline-flex align-items-center justify-content-center gap-2"
        >
            <p-avatar
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                shape="circle"
            />
            <h4 class="font-bold white-space-nowrap">Tạo phê duyệt</h4>
        </div>
    </ng-template>
    <div class="flex align-items-center gap-3 mb-3">
        <i class="bi bi-question-circle icon-succ"></i>
        <p-multiSelect
            [options]="employees"
            [(ngModel)]="employeeApproves"
            optionLabel="name"
            placeholder="Chọn người phê duyệt"
            [style]="{ width: '285px' }"
        />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <i class="bi bi-calendar-event icon-succ"></i>
        <p-calendar
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            [(ngModel)]="selectedDates"
            [placeholder]="'Chọn hạn phê duyệt'"
            [style]="{ width: '285px' }"
        >
        </p-calendar>
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <i class="bi bi-link-45deg icon-succ"></i>
        <p-fileUpload
            mode="basic"
            chooseLabel="Choose"
            chooseIcon="pi pi-upload"
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            accept="image/*"
            maxFileSize="1000000"
            (onUpload)="onUpload($event)"
            showClear="true"
            [style]="{ width: '285px' }"
        />
    </div>

    <div class="flex align-items-center gap-3 mb-5">
        <span>Mô tả</span>
        <textarea
            rows="5"
            cols="30"
            [(ngModel)]="description"
            pInputTextarea
            [style]="{ width: '285px' }"
        >
        </textarea>
    </div>
    <ng-template pTemplate="footer">
        <p-button
            label="Tạo phê duyệt"
            (onClick)="createApproval(); openCreate = false"
        />
    </ng-template>
</p-dialog>

<!--  thông báo hiển thị yêu cầu phê duyệt trong công việc -->
<div *ngIf="openDescriptionCheck" class="backgroup-popup">
    <div class="d-flex align-items-center">
        <i class="bi bi-chat-right-dots"></i>
        <span class="ml-2">Chờ phê duyệt</span>
        <span class="ml-5">23/01/2025 <span>09:01</span></span>
        <span> </span>
        <div class="ml-5">
            <div class="iamge-user">
                <img
                    src="http://103.153.69.217:7010/Image/Avatar/AvatarDefault.png"
                    style="width: 35px; height: 35px"
                    alt=""
                />
                <div class="">
                    <i
                        class="bi bi-check-circle-fill icon-status"
                        style="color: green"
                    ></i>
                    <!-- <i class="bi bi-x-circle-fill icon-status" style="color: red;"></i> -->
                </div>
            </div>
        </div>
    </div>
    <div class="margin-b">
        <p>Mô tả yêu cầu phê duyệt</p>
    </div>
    <div class="d-flex align-items-center margin-b">
        <i class="pi pi-calendar"></i>
        <span class="ml-2">Thời hạn</span>
        <span>11/03/2025 <span>13:00pm</span></span>
    </div>
    <div class="d-flex">
        <p-button label="Phê duyệt" />
        <p-button class="ml-2" label="Từ chối" severity="danger" />
    </div>
</div>
