<!-- <div *ngIf="form?.controls?.[field]?.invalid && (form?.controls?.[field]?.dirty || form?.controls?.[field]?.touched)" class="danger-notice">
    <ng-container *ngFor="let validation of messages[field]">
        <div *ngIf="form?.controls?.[field]?.errors?.[validation?.type]"> 
            {{validation.message}}
        </div>
    </ng-container>
</div> -->

<!-- show first error (not show all error of form control) -->
<div *ngIf="form?.controls?.[field]?.invalid && (form?.controls?.[field]?.dirty || form?.controls?.[field]?.touched)"
    class="danger-notice">
    <ng-container *ngFor="let validation of messages[field]; let i = index">
        <div *ngIf="isFirstError(validation?.type)">
            {{ validation.message }}
        </div>
    </ng-container>
</div>