.card {
  border-radius: 5px;
  border: none !important;
  padding: 0 !important;
}


.menu-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0.5rem;
  text-align: left;
  width: 100%;
}

.menu-btn:hover {
  background-color: #f4f4f4;
}

::ng-deep .p-treeselect {
  width: 100%;
}

.disabled-calendar {
  pointer-events: none; /* Ngăn mọi sự kiện chuột */
  opacity: 0.6; /* Tăng trực quan */
}


#contract-content {
  font-family: "Times New Roman", Times, serif;
  padding-top: 30px; /* Thêm khoảng cách trên */
  padding-bottom: 30px; /* Thêm khoảng cách dưới */
}

.contract {
  font-family: "Times New Roman", Times, serif;
  margin: 10px auto;
  padding: 10px;
  width: 60%;
  line-height: 1.70;
}

.header {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.sub-header {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contract-container {
  font-family: "Times New Roman", Times, serif;
}

.contract-number {
  text-align: center;
  margin: 30px 10px;
}

.title {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.section1 {
  // text-indent: 50px;
  font-size: 1.2rem;
  line-height: 30px;
}

.intro1 {
  font-style: italic;
  font-size: 1.2rem;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}


table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 16px;
}

td {
  border: 1px solid black;
  padding: 8px;
  vertical-align: top;
}

td[colspan="2"] {
  width: 50%;
}

.label {
  width: 20%;
  white-space: nowrap;
}

.small-cell {
  width: 25%;
}

.tab-worker .label {
  font-size: 1.2rem;
  font-weight: bold;
}

.contract-preview {
  max-height: 70vh; /* Giới hạn chiều cao */
  overflow-y: auto; /* Tạo thanh cuộn khi nội dung dài */
  padding: 10px; /* Tạo khoảng cách đẹp hơn */
}
.avoid {
    page-break-before: always;
}
