.status-red{
    color: red;
}

.status-red{
    padding: 5px 15px;
    background-color:#fcecec;
    border-radius:8px;
    font-size:14px;
}

.status-green {
    color: green;
    padding: 5px 15px;
    background-color: #eaf9e6;
    border-radius: 8px;
    font-size: 14px;
}

.icon-tool{
    padding: 8px;
    border-radius:5px;
    background-color: #ebe9e9;
    transition: all 0.2s;
}

.icon-tool:hover {
    background-color: #dddcdc;
}

.icon-edit{
    padding: 6px;
    background-color: #e4e4e4;
    border-radius:6px
;}

/* .icon-edit i{
    display: block;
} */

.table-wrapper {
    position: relative;
}

.sticky-column {
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 1;
}

.sticky-column:nth-child(2) {
    left: 80px; /* Adjust left offset for the 2nd sticky column */
}

