.sidebar-item{
    padding: 10px ;
    cursor: pointer;
    font-weight: 500;
}

.sidebar-list{
    background: #fff;
    margin-bottom: 1rem;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    padding: 1rem;
}
.common{
    background: #fff;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    padding: 1rem;
}

.sidebar-item.active {
    border-bottom: 2px solid #2A2A86; 
}