.ggmap{
    width: 800px;
    height: 400px;
    margin-left: 10px;
    margin-bottom: 40px;
}   
label {
    font-weight: 600;
}
iframe{
    margin-top: 10px;
    width: 800px;
    height: 400px;
    border-radius: 5px;
}