.card-custom {
    background: #fff;
    margin-bottom: 2rem;
    border: none;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    padding: 1rem;
}

.dashboard-content {
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.dashboard-header {
    color: #333;
    margin-bottom: 20px;
}

.dashboard-text {
    color: #666;
    font-size: 16px;
    margin-bottom: 30px;
}

.create-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4A94F3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #0056b3;
}
