.status-red {
    color: red;
}

.status-red {
    padding: 5px 15px;
    background-color: #fcecec;
    border-radius: 8px;
    font-size: 14px;
}

.status-green {
    color: green;
    padding: 5px 15px;
    background-color: #eaf9e6;
    border-radius: 8px;
    font-size: 14px;
}

.icon-tool {
    padding: 8px;
    border-radius: 5px;
    background-color: #ebe9e9;
    transition: all 0.2s;
}

.icon-tool:hover {
    background-color: #dddcdc;
}
.ellipsis-container {
    min-width: 150px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.ellipsis-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis-container:hover .ellipsis-text {
    white-space: normal; /* Hiển thị toàn bộ nội dung khi hover */
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    width: max-content;
    max-width: 400px;
}
