.p-col-12.p-md-6 {
    padding: 20px;
}

.p-md-6 {
    width: 50%;
}
textarea {
    width: 100%;
}

p-calendar,
p-dropdown,
p-treeSelect,
p-multiSelect {
    width: 100%;
}

.sidebar-item {
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
}

.sidebar-list {
    background: #fff;
    margin-bottom: 1rem;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    padding: 1rem;
}
.common {
    background: #fff;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    padding: 1rem;
}

.sidebar-item.active {
    border-bottom: 2px solid #2a2a86;
}

.button-container-popup {
    text-align: right;
    margin-top: 20px;
}
.button-container {
    margin-left: 385px;
    margin-top: 20px;
    display: flex;
}

.card-custom {
    background: #fff;
    margin-bottom: 2rem;
    border: none;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    padding: 1rem;
}

.text-validator {
    color: red;
    font-size: 12px !important;
    margin-top: 6px;
}
