.icon-settings {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto 0px auto 5px;
}

.img-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.item-object {
    padding: 0px 5px 10px 5px;
    margin-right: 20px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.item-object.active {
    color: #3d75de;
    border-bottom: 4px solid #3d75de;
}




/* popup thông tin chung */
/* Tổng thể */
.dialog-container {
    font-family: 'Roboto', sans-serif;
}

/* Header Section */
.header-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.avatar {
    background-color: #00bcd4;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-details h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.user-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.status {
    margin-top: 10px;
}

.status-badge {
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
}

.status-badge.working {
    background-color: #4caf50;
}

.status-badge.active {
    background-color: #00bcd4;
}

/* Tab Section */
.tab-section {
    border-bottom: 1px solid #eaeaea;
}

.tab-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

.tab-menu li {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tab-menu li.active {
    color: #2a2986;
    border-bottom: 3px solid #2a2986;
}








/* User Info Section */
.user-info {
    padding: 20px;
}

.info-item {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.8;
}

.info-item strong {
    color: #666;
    width: 150px;
    font-size: 13px;
    display: inline-block;
}

.info-item span {
    font-size: 13px;
    font-weight: normal;
    color: #333;
}

/* Footer Section */
.dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* Khoảng cách giữa các nút */
    padding: 15px;
}

.p-button-danger {
    background-color: #60de84f4 !important;
    color: black !important;
    border: none;
}

.dialog-footer button {
    border-radius: 40px;
}

.p-button-secondary {
    font-weight: bold;
    border: none;
    color: black !important;
    background-color: #4ef0768d
}

.ui-dialog-footer button {
    text-align: right;
    margin-right: 10px;
    /* Tăng khoảng cách giữa các nút */
}

.select-tree {
    display: flex;
    width: 300px;
}

.select-tree .custom-tree-select {
    flex: 1 1 auto;
    width: 100%;
}

.btn-delete {
    background-color: red !important;
    border-color: red !important;
    border-radius: 5px;
}

.btn-cancel {
    border-radius: 5px;
}

.custom-dialog {
    display: flex;
    flex-direction: column;
    /* Chiều cao tối đa của dialog */
}

.custom-dialog .p-dialog-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.custom-dialog .p-input-icon-left {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    padding: 4px 0;
    border-bottom: 1px solid #ddd;
}

.custom-dialog .content-scroll {
    flex: 1;
    overflow-y: auto;
    max-height: 400px;
    height: 400px;
    padding: 8px 0;
}

.custom-dialog .p-dialog-footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background: white;
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: right;
}



/* tny add */
.status-span {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.work-status-span {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}


.custom-dialog .dialog-container {
    font-family: Arial, sans-serif;
    color: #333;
}

.custom-dialog .header-section {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.custom-dialog .avatar-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.custom-dialog .user-details h3 {
    margin: 0;
    color: #2a2986;
}

.custom-dialog .user-details p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.custom-dialog .status-badge {
    padding: 5px 10px;
    border-radius: 15px;
    color: #fff;
    background-color: #2a2986;
    margin-right: 10px;
}

.custom-dialog .tab-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 10px 0;
}

.custom-dialog .tab-menu li {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.custom-dialog .tab-menu li.active {
    background-color: #e9e9e9;
    font-weight: bold;
}

.custom-dialog .custom-button {
    color: #fff;
}

.custom-dialog .p-button-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.custom-dialog .p-button-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}


/* Style chung cho các tab content */
.custom-dialog .tab-content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-height: 300px;
    /* Giới hạn chiều cao tối đa */
    overflow-y: auto;
    /* Cho phép cuộn theo chiều dọc */
}

/* Ẩn thanh cuộn */
.custom-dialog .tab-content::-webkit-scrollbar {
    display: none;
    /* Ẩn thanh cuộn cho Webkit browsers */
}

.custom-dialog .tab-content {
    -ms-overflow-style: none;
    /* Ẩn thanh cuộn cho IE and Edge */
    scrollbar-width: none;
    /* Ẩn thanh cuộn cho Firefox */
}

/* Định dạng cho từng mục thông tin */
.custom-dialog .info-item {
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
}

.custom-dialog .info-item:last-child {
    border-bottom: none;
}

.custom-dialog .info-item strong {
    min-width: 140px;
    /* Đảm bảo các label có độ rộng tối thiểu */
    font-size: 14px;
    color: #333;
    flex-shrink: 0;
}

.custom-dialog .info-item span,
.custom-dialog .info-item a {
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-dialog .info-item a {
    text-decoration: none;
    color: #007bff;
}

.custom-dialog .info-item a:hover {
    text-decoration: underline;
}

/* Định dạng các liên kết và thông tin bổ sung */
.custom-dialog .user-info {
    display: flex;
    flex-direction: column;
}

/* Định dạng cho các tab */
.custom-dialog .tab-menu li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-dialog .tab-menu li:hover {
    background-color: #f4f4f4;
}

.custom-dialog .tab-menu li.active {
    background-color: #ddeeff;
    color: #0056b3;
    font-weight: 600;
}


/* Style cho header section */
.custom-dialog .header-section {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.custom-dialog .avatar-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 16px;
}

.custom-dialog .user-details h3 {
    margin: 0;
    color: #333;
    font-size: 18px;
    /* Kích thước phông chữ cho h3 */
    font-weight: 600;
    /* Độ đậm của font */
}

.custom-dialog .user-details p {
    margin-top: 8px;
    /* Khoảng cách giữa h3 và p */
    font-size: 14px;
    color: #666;
    /* Màu chữ mô tả */
    line-height: 1.4;
    /* Khoảng cách dòng */
}

/* Optional: Định dạng cho các trạng thái nếu bạn quyết định hiển thị lại */
.custom-dialog .status-badge {
    padding: 5px 10px;
    border-radius: 15px;
    color: #fff;
    background-color: #2a2986;
    margin-right: 10px;
    font-size: 12px;
}

p-footer {
    text-align: right;
}

p-footer button:first-child {
    background: none;
    /* Loại bỏ background của button bên trái */
    border: none;
    /* Loại bỏ viền nếu cần */
    color: inherit;
    /* Giữ nguyên màu chữ */
}

p-footer button:last-child {
    background-color: #007BFF;
    /* Màu xanh nước biển */
    color: white;
    /* Màu chữ trắng */
    border: none;
    /* Loại bỏ viền nếu cần */
    padding: 0.5em 1em;
    /* Tạo kích thước padding dễ nhìn */
    border-radius: 4px;
    /* Bo góc nếu cần */
    cursor: pointer;
    /* Con trỏ chuột khi hover */
}

p-footer button:last-child:hover {
    background-color: #0056b3;
    /* Màu xanh đậm hơn khi hover */
}

.p-button-danger {
    background-color: #DC3545 !important;
    /* Màu đỏ */
    border: none !important;
    color: #fff !important;
}

.p-button-danger:hover {
    background-color: #C82333 !important;
    /* Màu đỏ đậm hơn khi hover */
}

.dash-circle,
.icon-edit,
.icon-delete {
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
}

.dash-circle,
.icon-delete {
    color: red;

}

// csss list value salary 
.input-value {
    position: relative;

}

.listValueSalary {
    content: '';
    position: absolute;
    top: 90px;
    width: 340px;
    z-index: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin-bottom: 3rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    height: 200px;
}

.list_title_value {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ccc;
    background-color: white;
    z-index: 10;
}

.title_value {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 3px;
}

.title_value_click {
    font-weight: 600;
    color: #434463;
    border-bottom: 2px solid #434463;
    z-index: 5;
}

.list_value_salary {
    content: '';
    position: relative;
    top: 0;
    overflow-y: auto;
    height: 85%;
}

.list_value_math,
.list_value_data {
    padding: 0px;
    list-style: none;
}

.item_value_data,
.item_value_math {
    padding: 5px 15px;
    cursor: pointer;
}

.item_value_data:hover,
.item_value_math:hover {
    background-color: #f4f4f4;
}

.list-default-salary {
    height: 40px;
    width: 190px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
    color: black;
}

.disabled {
    pointer-events: none;
    /* Ngừng các sự kiện chuột */
    opacity: 0.5;
    /* Làm mờ phần tử để hiển thị rằng nó bị disabled */
}

textarea {
    resize: none;
}

.table-wrapper {
    position: relative;
}

.sticky-column {
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 1;
}

.sticky-column:nth-child(2) {
    left: 30px; /* Adjust left offset for the 2nd sticky column */
}

.sticky-column:nth-child(3) {
    left: 210px; /* Adjust left offset for the 3rd sticky column */
}

.sticky-column:nth-child(4) {
    left: 200px; /* Adjust left offset for the 4th sticky column */
}